* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "BIZ UDGothic", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

.mini-text {
  font-size: 80%;
}
.hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  
  text-align: center;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.modal-content .title {
  font-size: 1.2rem;
  font-weight: 700;
  /*margin-bottom: 2rem;*/
}
.modal-content .close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  background-color: #eee;
  
  width: 3rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}
.modal-content .close-button:hover,
.modal-content .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content input,
.modal-content textarea,
.modal-content select {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 1.0rem;
  
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.modal-content input:hover,
.modal-content textarea:hover,
.modal-content select:hover {
  border-color: #999;
}
.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #E58339;
  box-shadow: 0 0 0 4px rgba(229, 131, 57, 0.25);
  outline: none;
}
.modal-content textarea {
  margin-bottom: 0.4rem;
}
.modal-content select {
  color: #e58339;
  outline: none;
}
.modal-content button {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  
  width: 100%;
  padding: 0.6rem 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;

  background-color: #E58339;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);

  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}
.modal-content button:disabled {
  background-color: #ccc;
  box-shadow: none;
}
.modal-content .message {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#header-title {
  font-weight: 700;
  font-size: 1.2rem;
}
#header-title-area,
#user-data {
  display: flex;
  align-items: center;
}
#user-data.hidden {
  display: none;
}
#header-username {
  font-weight: 700;
}
#to-index,
#header-logout {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  
  padding: 0.3rem;
  margin: 0 0 0 0.8rem;
  text-align: center;
  cursor: pointer;
  display: block;
  box-sizing: border-box;

  background-color: #E58339;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);
}
#to-index {
  padding: 0 0.3rem;
  margin: 0 0.8rem 0 0;
  text-decoration: none;
}

#news-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 1rem 30px;
  background-color: #fffbf5;
  /*border: solid 2px #e58339;*/
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#news-title {
  color: #e58339;
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #f0c9a7;
}
#news-container a {
  font-weight: 700;
  color: #e58339;
}
#news-container a:visited {
  color: #a05e2d;
}
#news-list-container {
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  text-align: left;
}
#news-list-container a {
  padding-bottom: 0.5rem;
}

#add-news-modal-btn {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  
  padding: 0.3rem;
  margin: 0 0 1rem 0;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;

  background-color: #E58339;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);
}
#add-news-modal-btn.hidden {
  display: none;
}

@media (max-width: 600px) {
  .game-header {
    flex-direction: column;
    gap: 10px;
  }
  #header-title-area,
  #user-data {
    flex-direction: column;
    gap: 0.2rem;
  }
  #to-index,
  #header-logout {
    margin: 0;
  }
}